
#NavigatorTransitionGroup {
	.NavigatorTransition {

		position: absolute;
		width: 100%;
		height: 100vh;
		background: #fff;

		overflow: hidden;
	}
}

//#NavigatorTransitionGhost {
//	position: absolute;
//	width: 100%;
//	height: 100vh;
//	background: #fff;
//
//	overflow: hidden;
//}



