// .pageTransition-appear {
// 	opacity: 0;
// }

// .pageTransition-appear-active {

// }

.pageTransition {
	&> .pageTransitionContent {
		
		position: absolute;
		width: 100%;
		height: 100vh;
		background: #fff;

		overflow: hidden;
	}
}





